<header class="app-topbar app-topbar-compact sticky-top">
  <div class="container-fluid py-3 px-3 px-lg-4 d-flex align-items-center justify-content-between">
    <div class="brand-lockup">
      <img src="../src/img/csc-logo.png" alt="CSC Logo" width="48" height="48" class="rounded-3">
      <div>
        <div class="app-kicker text-white-50">Training Attendance System</div>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2">
      <a href="../attendance/index.php" class="btn btn-light btn-sm rounded-pill px-3 fw-semibold" aria-label="Self Attendance Admin" title="Self Attendance Admin">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
          <path d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13Zm0 1a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11Z"/>
          <path d="M8 4a1 1 0 1 0 0 2A1 1 0 0 0 8 4Zm0 3a3 3 0 0 0-2.83 2H10.83A3 3 0 0 0 8 7Z"/>
        </svg>
      </a>
      <a href="addTraining.php" class="btn btn-light btn-sm rounded-pill px-3 fw-semibold" aria-label="New Training" title="New Training">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
          <path d="M8 3.5a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0V8h-3a.5.5 0 0 1 0-1h3V4a.5.5 0 0 1 .5-.5z"/>
        </svg>
      </a>
      <div class="dropdown">
        <button class="btn btn-light btn-sm rounded-pill px-3 fw-semibold dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Account actions" title="Account actions">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
            <path d="M3 9.5A1.5 1.5 0 1 1 3 6a1.5 1.5 0 0 1 0 3.5Zm5-6A1.5 1.5 0 1 1 8 0a1.5 1.5 0 0 1 0 3.5Zm5 6A1.5 1.5 0 1 1 13 6a1.5 1.5 0 0 1 0 3.5Z"/>
            <path d="M3.5 10.25A2.75 2.75 0 0 1 6.25 13v.75h-4.5V13a2.75 2.75 0 0 1 1.75-2.55Zm5-6A2.75 2.75 0 0 1 11.25 7v.75h-4.5V7A2.75 2.75 0 0 1 8.5 4.25Zm5 6A2.75 2.75 0 0 1 16 13v.75h-4.5V13a2.75 2.75 0 0 1 1.75-2.55Z"/>
          </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
          <li>
            <a class="dropdown-item" href="editCredential.php">
              <i class="fas fa-user-cog me-2"></i>Edit Credential
            </a>
          </li>
          <li>
            <a class="dropdown-item text-danger" href="../attendance/logout.php">
              <i class="fas fa-right-from-bracket me-2"></i>Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
